<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="{{ asset('css/organisations.css') }}" rel="stylesheet">
</head>

<body>

    {% for message in app.flashes('success') %}
    <div class="successMessage">
        {{message}}
    </div><br>
    {% endfor %}
    {% for message in app.flashes('error') %}
    <div class="errorMessage">
        {{message}}<br>
    </div>
    {% endfor %}

    Here the list of registered applications:<br>
    {% if organisations is defined %}
    {% for organisation in organisations %}
    <span class="org_name"><a href="/organization/{{ organisation.name }}">{{ organisation.name }}</a></span>
    <div class="sub_infos">
        <div class="users_list">
            {% for user in organisation.users %}
            {{ user.name }} , Roles :
            {% for perms in user.role %}
            {{ perms }}
            {% endfor %}<br>
            {% endfor %}
        </div>
        {{ organisation.description }}
    </div><br>
    {% endfor %}
    {% endif %}
    <br>
    <a href="/createOrganization"><button type="button">Create Organization</button></a>
    {% block javascripts %}{% endblock %}
</body>

</html>